.comment-container {
  width: 100%;
  margin-top: 62px;
  margin-bottom: 20px;
  /* padding: 8px 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: #262626; */
}
